
<header class="sider">

    <div class="avatar">
        <div class="avatar-image"></div>
    </div>

    <div class="sider-box">

        <div class="site-titlediv">
            <a class="site-title" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
        </div>
        <div class="description">
            {{ site.description }}
        </div>
        <div class="social-link">
            <p>{{ site.url }}</p>
            <p>{{ site.twitter_username }}</p>
            <p>{{ site.github_username }}</p>
        </div>
        <div class="pages">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</header>
