.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Site header
 */
.sider-wapper{
    width: auto;
}

$sider_width: 200px;
.sider {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: $sider_width;
    padding-left: 450px;
    z-index: 888;
    position: fixed;
}

.page-content{
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $sider_width;
    z-index: 1;
}

.avatar{
    right: 24px;
    position: absolute;
    z-index: 999;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 5px;
}

.sider-box{
    z-index: 888;
    margin-top: 90px;
    padding-top: 90px;
}