.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Site header
 */
.sider-wapper{
    width: auto;
}

$sider_width: 210px;
$page_content_width: 490px;

.sider {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: $sider_width;
    padding-left: $page_content_width;
    z-index: 888;
    position: fixed;
}

.page-content{
    width: $page_content_width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $sider_width;
    z-index: 1;
}

.avatar{
    right: 29px;
    position: absolute;
    z-index: 999;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 5px;
}

.sider-box{
    z-index: 888;
    margin-top: 90px;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.page-container{
    margin-right: 15px;
    margin-bottom: 30px;
}

.content{
    margin-top: 30px;
    margin-right: 15px;
}