.main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Site header
 */
.sider-wapper{
    width: auto;
}

$sider_width: 160px;
.sider {
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
    width: $sider_width;
    padding-left: 450px;
    z-index: 999;
    position: fixed;
}

.page-content{
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $sider_width;
    z-index: 1;
}

.avatar{
    float: left;
}
