---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="content">
    <h2>
      <a class="post-link"
         href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
    </h2>

    <div class="post-content">
      {{ page.content }}
    </div>

    <div class="categories">
      <i class="icon-folder-open icon-large"></i>
      {{page.categories}}
    </div>
    <div class="tags">
      {% if page.tags != empty %}
      <i class="icon-tags icon-large"></i>
      {% for tag in page.tags%}
      {{tag}}
      {%endfor%}
      {%endif%}
    </div>
    <div class="post-meta">
      <div class="post-meta-data">
        <i class="icon-pencil icon-large"></i>
        {{ page.date | date: "%b %-d, %Y" }}
      </div>
    </div>
  </div>

</article>
